<h1>Bem vindo!</h1>
<form>
	<h3>Alunos Cadastrados</h3>
	<ul>
		<% @students.each do |students| %>
			<li>
				<%= link_to students[:name], student_path(students) %>
			</li> <br>
		<% end %>
	</ul>
</form>